/*--------------------------------------------------------------
## MISC
--------------------------------------------------------------*/
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;    
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--br-bg);
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



/*--------------------------------------------------------------
## COLORS
--------------------------------------------------------------*/
:root {
    --br-black: #333;
    --br-bg: #f9f9f9;
    --br-accent: #0ec5ce;
    --br-accent-hover: #0ba7af; 
}



/*--------------------------------------------------------------
## ICONS
--------------------------------------------------------------*/
@font-face {
    font-family: 'icomoon';
    src:  url('/homepage/assets/fonts/icomoon.eot?ya791s');
    src:  url('/homepage/assets/fonts/icomoon.eot?ya791s#iefix') format('embedded-opentype'),
        url('/homepage/assets/fonts/icomoon.ttf?ya791s') format('truetype'),
        url('/homepage/assets/fonts/icomoon.woff?ya791s') format('woff'),
        url('/homepage/assets/fonts/icomoon.svg?ya791s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jsfiddle:before {
    content: "\e900";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-dribbble:before {
    content: "\eaa7";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin:before {
    content: "\eac9";
} 

.br-icon{
    font-size: 28px;
    position: relative;
    top: -1px;
}

.br-icon.icon-jsfiddle{
    font-size: 36px;
}

.br-icon.material-icons{
    font-size: 34px;
}




/*--------------------------------------------------------------
## MAIN
--------------------------------------------------------------*/
main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 68px);
}

.br-hello{
    max-width: 240px;
    margin-bottom: 20px;
}

.br-hello-slide{
    height: 35px;
}

.br h2{
    margin: 0;
    position: relative;
    text-align: center;
    line-height: 1em;
    font-size: 30px;
}

.br-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.br main a{
    color: var(--br-black);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: ease-in-out .2s;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.br a:hover{
    color: var(--br-accent);
}

.br a i{
    color: var(--br-accent);
    transition: ease-in-out .2s;
}

.br a:hover i{
    transform: scale(1.1);
}

@media (min-width:552px){
    main .container{
        flex-direction: row;
    }

    .br-hello{
        margin-bottom: 0;
        margin-left: -80px;
        position: relative;
        padding-right: 20px;
    }

    .br-hello::after{
        content: "";
        background-color: #eee;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .br-hello-slide{
        height: 60px;
    }

    .br h2{
        margin-bottom: 0;
        font-size: 40px;
        text-align: right;
    }

    .br-buttons{
        flex-direction: row;
        width: max-content;
        margin-left: 20px;
    }

    .br-buttons a{
        margin-right: 20px;
    }

    .br-buttons a:last-child{
        margin-right: 0;
    }

    .br main a{
        padding: 0;
        flex-direction: row;
        justify-content: inherit;
    }

    .br a i{
        margin-right: 4px;
    }
}



/*--------------------------------------------------------------
## FOOTER
--------------------------------------------------------------*/
footer{
    padding: 10px 0;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p i.material-icons{
    margin-right: 2px;
}

footer p a{
    margin-left: 3px;
    color: var(--br-accent);
    text-decoration: none;
    transition: ease-in-out .2s;
}

.br a:hover{
    color: var(--br-accent-hover);
}